@mixin container {
    max-width: 1280px;
    margin: 0 auto;
}

@mixin widget {

    .list_title {
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .list_menu {

        li {
            padding: 3px 0;
        }
    }
}